# System files (macOS/Windows)
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files (for both React and Spring Boot)
.idea/
.vscode/

# OS-specific files
*.swp
*.swo

# Environment-specific files for both
.env
.env.local
.env.*.local
node_modules
