.head {
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  position: absolute;
  top: 17px;
  left: 19px;
  color: #000;
  font-family: Inter, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center; /* Center text horizontally inside the box */
  width: 319px;
  height: 93px;
  background: #d9d9d9;
  border-radius: 20px;
}

/* In your external CSS file (e.g., Nav.css) */

.nav {
  transition: transform 0.3s; /* Equivalent to transition-transform duration-300 */
}

.nav:hover {
  transform: scale(1.1); /* Equivalent to hover:scale-110 */
  color: #4c51bf; /* Equivalent to hover:text-indigo-800 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to hover:shadow-lg */
}

.search-input::placeholder {
  color: gray;
}
