@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #dee4e7;
  font-family: ui-monospace;
  font: antialiased;

  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures full viewport height */
  width: 100%; /* Full width */
}

nav {
  margin: 0;
  padding: 0;
}

/* html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
